<div class="container-fluid">
  <h1>CREATE HERE!!!!</h1>
  <hr width="100">
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li *ngFor='let quote of quot;let i=index'>
          <p appHighlight>'{{quote.quote}}'</p>
          <app-quote-details [quote]='quote' (isDelete)='deleteQuot($event,i)'></app-quote-details><br>
          <app-votes></app-votes>

          
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <app-quote-form (getQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>